<footer class="footer py-3">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <span class="text-muted"> &copy; Miran Jang 2021</span>
            </div>
            <div class="col-md-4">
                <div class="container text-end">
                    <h1>
                        <ion-icon name="logo-linkedin"></ion-icon>
                        <ion-icon name="logo-github"></ion-icon>
                        <ion-icon name="mail-outline"></ion-icon>
                    </h1>

                </div>
            </div>
        </div>



    </div>
</footer>