<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row">
            <div class="col mb-5">
                <h1>Nice to meet you!</h1>
            </div>
        </div>
    </div>


    <div class="card mb-3 border-0">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="/image/profile_pic.jpg" class="img-fluid rounded-start vh-100" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">

                    <p class="card-text">
                        Hi! I'm Miran Jang. I'm pursuing my new career as a Full Stack Web Developer.
                    </p>

                </div>
            </div>
        </div>
    </div>