<% layout('layouts/boilerplate') %>

    <div class="container py-5">
        <h1 id="hello" class="fw-bold">HELLO!</h1>
        <h1 class="my-3">My name is Miran Jang.</h1>

        <h4 class="fw-bold" id="intro">I'm pursuing my new career as a Full Stack Developer.</h4>
        <h4 class="fw-bold" id="intro">My passion is in UI/UX and Accessibility.</h4>
    </div>


    <div class="container mt-5 py-3" id="portfolio">
        <div class="custom-shape-divider-top-1634755059">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                    class="shape-fill"></path>
            </svg>
        </div>
        <div class="container py-5">

            <div class="container my-5">
                <h3 class="mb-5">My Portfolio</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Portfolio 4</h5>
                                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim
                                    minima
                                    debitis natus veniam quia recusandae totam, quaerat ullam fugit vitae inventore iste
                                    deleniti id illum alias quis sequi eligendi nihil!</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Portfolio 5</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
                                    modi
                                    voluptas eum quos, vel praesentium cumque nemo est quas animi iure ipsum reiciendis
                                    esse. Ut molestias autem accusantium reiciendis pariatur!

                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Portfolio 6</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                                    quidem corporis dicta rem natus, sunt possimus illo ex atque necessitatibus
                                    recusandae
                                    neque odio, mollitia cupiditate eaque, ea error assumenda! Ipsam.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container my-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Portfolio </h5>
                                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim
                                    minima
                                    debitis natus veniam quia recusandae totam, quaerat ullam fugit vitae inventore iste
                                    deleniti id illum alias quis sequi eligendi nihil!</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Portfolio </h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
                                    modi
                                    voluptas eum quos, vel praesentium cumque nemo est quas animi iure ipsum reiciendis
                                    esse. Ut molestias autem accusantium reiciendis pariatur!

                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Portfolio 3</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                                    quidem corporis dicta rem natus, sunt possimus illo ex atque necessitatibus
                                    recusandae
                                    neque odio, mollitia cupiditate eaque, ea error assumenda! Ipsam.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>