<% layout('layouts/boilerplate') %>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-5">
                <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1172&q=80"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">01 Portfolio</h5>
                    <p class="card-text">Portfolio description... Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Nihil vitae sit eius architecto repudiandae mollitia iure suscipit dolor natus excepturi.
                        Quaerat animi ea laboriosam sequi ducimus ad perferendis magnam rem.</p>
                    <p class="card-text text-muted">Technology used</p>
                    <ion-icon name="logo-github"></ion-icon>
                    <ion-icon name="browsers-outline"></ion-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">01 Portfolio</h5>
                    <p class="card-text">Portfolio description... Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Nihil vitae sit eius architecto repudiandae mollitia iure suscipit dolor natus excepturi.
                        Quaerat animi ea laboriosam sequi ducimus ad perferendis magnam rem.</p>
                    <p class="card-text text-muted">Technology used</p>
                    <ion-icon name="logo-github"></ion-icon>
                    <ion-icon name="browsers-outline"></ion-icon>
                </div>
            </div>
            <div class="col-md-5">
                <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1172&q=80"
                    class="img-fluid rounded-start" alt="...">
            </div>

        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-5">
                <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1172&q=80"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">01 Portfolio</h5>
                    <p class="card-text">Portfolio description... Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Nihil vitae sit eius architecto repudiandae mollitia iure suscipit dolor natus excepturi.
                        Quaerat animi ea laboriosam sequi ducimus ad perferendis magnam rem.</p>
                    <p class="card-text text-muted">Technology used</p>
                    <ion-icon name="logo-github"></ion-icon>
                    <ion-icon name="browsers-outline"></ion-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-5">
        <div class="row g-0">
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">01 Portfolio</h5>
                    <p class="card-text">Portfolio description... Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Nihil vitae sit eius architecto repudiandae mollitia iure suscipit dolor natus excepturi.
                        Quaerat animi ea laboriosam sequi ducimus ad perferendis magnam rem.</p>
                    <p class="card-text text-muted">Technology used</p>
                    <ion-icon name="logo-github"></ion-icon>
                    <ion-icon name="browsers-outline"></ion-icon>
                </div>
            </div>
            <div class="col-md-5">
                <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1172&q=80"
                    class="img-fluid rounded-start" alt="...">
            </div>

        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-5">
                <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1172&q=80"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">01 Portfolio</h5>
                    <p class="card-text">Portfolio description... Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Nihil vitae sit eius architecto repudiandae mollitia iure suscipit dolor natus excepturi.
                        Quaerat animi ea laboriosam sequi ducimus ad perferendis magnam rem.</p>
                    <p class="card-text text-muted">Technology used</p>
                    <ion-icon name="logo-github"></ion-icon>
                    <ion-icon name="browsers-outline"></ion-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">01 Portfolio</h5>
                    <p class="card-text">Portfolio description... Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Nihil vitae sit eius architecto repudiandae mollitia iure suscipit dolor natus excepturi.
                        Quaerat animi ea laboriosam sequi ducimus ad perferendis magnam rem.</p>
                    <p class="card-text text-muted">Technology used</p>
                    <ion-icon name="logo-github"></ion-icon>
                    <ion-icon name="browsers-outline"></ion-icon>
                </div>
            </div>
            <div class="col-md-5">
                <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1172&q=80"
                    class="img-fluid rounded-start" alt="...">
            </div>

        </div>
    </div>